<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde?>
<!-- generated with https://github.com/eclipse-cbi/targetplatform-dsl -->
<target name="Espilce Periksa" sequenceNumber="1639661723">
  <locations>
    <location includeMode="slicer" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="true" type="InstallableUnit">
      <unit id="org.eclipse.emf.sdk.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.xtext.sdk.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.xtend.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.sdk.feature.group" version="0.0.0"/>
      <repository location="http://download.eclipse.org/releases/oxygen"/>
    </location>
    <location includeMode="slicer" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="true" type="InstallableUnit">
      <unit id="com.google.guava" version="15.0.0.v201403281430"/>
      <unit id="com.google.guava.source" version="15.0.0.v201403281430"/>
      <unit id="org.apache.commons.lang3" version="3.1.0.v201403281430"/>
      <unit id="org.apache.commons.lang3.source" version="3.1.0.v201403281430"/>
      <repository location="http://download.eclipse.org/tools/orbit/downloads/drops/R20180330011457/repository"/>
    </location>
    <location includeMode="slicer" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="true" type="InstallableUnit">
      <unit id="org.eclipse.license.feature.group" version="2.0.2.v20181016-2210"/>
      <repository location="http://download.eclipse.org/cbi/updates/license/"/>
    </location>
    <location includeMode="slicer" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="true" type="InstallableUnit">
      <unit id="org.espilce.commons.emf.feature.feature.group" version="0.0.0"/>
      <unit id="org.espilce.commons.emf.registry.feature.feature.group" version="0.0.0"/>
      <unit id="org.espilce.commons.emf.textrenderer.feature.feature.group" version="0.0.0"/>
      <unit id="org.espilce.commons.lang.feature.feature.group" version="0.0.0"/>
      <repository id="espilce-commons-p2" location="https://nexus.acidspace.nl/repository/espilce-commons/1.0/repository"/>
    </location>
  </locations>
</target>
