<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated testModel -->
      <package
            uri="http://www.example.org/testModel"
            class="org.espilce.periksa.test.testModel.TestModelPackage"
            genModel="model/testModel.genmodel"/>
   </extension>
   <extension
         point="org.espilce.periksa.validation.registrar">
      <AbstractValidator
            class="org.espilce.periksa.test.ModelValidator">
      </AbstractValidator>
   </extension>

   
</plugin>
